{% extends "main/base.html" %}
{% block head-content %}
{% endblock head-content %}
{%block main%}
<h1 class="display-1">Hello and welcome to LIPI</h1>
            <h4>Pick from the following</h4>
            <div class="card-deck" style="width: 75rem;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Taal Teental</h5>
                        <p class="card-text">Pattern of 16 beats of 4&nbsp;|&nbsp;4&nbsp;|&nbsp;4&nbsp;|&nbsp;4 divisions</p>
                        <a href="teental/" class="btn btn-primary">Compose</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Taal Ektaal</h5>
                        <p class="card-text">Pattern of 12 beats of 2&nbsp;|&nbsp;3&nbsp;|&nbsp;2&nbsp;|&nbsp;3&nbsp;|&nbsp;2 divisions</p>
                        <a href="#" class="btn btn-primary">Compose</a>
                    </div>
                </div>
            </div>
{%endblock main%}