{% extends "main/base.html" %}
{% block head-content %}
<style>
.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
.edgecell-right{
    border: 10; 
    border-style: solid; 
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.eq-width{
    width: 10rem;
}
</style>
{% endblock head-content %}
{%block main%}
<h1>Taal Teental</h1>
<span style="text-align: center; vertical-align:middle;">
    <table style="width: 80%; height: 100%;">
        <tbody>
            <th class="eq-width">1</th>
            <th class="eq-width">2</th>
            <th class="eq-width">3</th>
            <th class="edgecell-right eq-width">
                4</th>
            <th class="eq-width">5</th>
            <th class="eq-width">6</th>
            <th class="eq-width">7</th>
            <th class="edgecell-right eq-width">
                8</th>
            <th class="eq-width">9</th>
            <th class="eq-width">10</th>
            <th class="eq-width">11</th>
            <th class="edgecell-right eq-width">
                12</th>
            <th class="eq-width">13</th>
            <th class="eq-width">14</th>
            <th class="eq-width">15</th>
            <th class="eq-width">16</th>
            <tr>
                <td class="eq-width">1</td>
                <td class="eq-width"></td>
                <td class="eq-width"></td>
                <td class="edgecell-right eq-width">
                    </td>
                <td class="eq-width">5</td>
                <td class="eq-width"></td>
                <td class="eq-width"></td>
                <td class="edgecell-right eq-width">
                    </td>
                <td class="eq-width">x</td>
                <td class="eq-width"></td>
                <td class="eq-width"></td>
                <td class="edgecell-right eq-width">
                    </td>
                <td class="eq-width">13</td>
                <td class="eq-width"></td>
                <td class="eq-width"></td>
                <td class="eq-width"></td>
            </tr>
        </tbody>
    </table>

</span>
{%endblock main%}